.special-schedule-card {
    margin: 12px;
    width: 85%;
    height: 95px;
}

.special-schedule-card > mat-card-content {
    margin-left: 60px;
}

.push-right {
    float: right;
}

div.action-icons-container {
    top: 10px;
    right: 35px;
    position: absolute;
    width: 30px;
}

.button-spacer {
    flex: 1 1 auto;
}

.mat-button-deactivate {
    color: cornflowerblue;
}

.mat-button-activate {
    color: darkorange;
}