<mat-card class="special-schedule-card" *ngFor="let anSS of listOfSpecialSchedules">
    <mat-card-header>
        <div mat-card-avatar class="special-schedule-card-avatar-box">
            <mat-icon class="main-toolbar-right-icon" aria-hidden="false" aria-label="Example heart icon" class="special-schedule-card-avatar-icon">
                schedule
            </mat-icon>
        </div>
        <mat-card-title><a routerLink="/special-schedules/{{anSS.id}}" class="special-schedule-title">{{anSS.description}}</a></mat-card-title>
        <mat-card-subtitle class="special-schedule-card-subtitle">ID: {{anSS.id}} | # of Zones: 5</mat-card-subtitle>
        <div class="button-spacer"></div>
        <div class="action-icons-container">
            <!--mat-icon  aria-hidden="false" aria-label="Show Details">timer</mat-icon-->
            <a *ngIf="!anSS.active" (click)="activateSchedule(anSS)">
                <mat-icon aria-hidden="false" aria-label="Avvia/Ferma" class="command-action-icon command-action-icon-set">power_settings_new</mat-icon>
            </a>
            <a *ngIf=" anSS.active" (click)="deactivateSchedule(anSS)">
                <mat-icon aria-hidden="false" aria-label="Avvia/Ferma" class="command-action-icon command-action-icon-unset">power_settings_new</mat-icon>
            </a>
        </div>
    </mat-card-header>
</mat-card>