.special-schedule-card-avatar-box {
    width: 50px;
}

.special-schedule-card-avatar-icon {
    font-size: 40px;
}

.special-schedule-card-subtitle {
    margin-bottom: 5px;
}

.command-action-icon {
    font-size: 40px;
    width: 70px;
    color: #324090;
}

.command-action-button {
    margin: 2px;
}

.special-schedule-card {
    margin: 12px;
    border-radius: 20px;
}

.special-schedule-card > mat-card-content {
    margin-left: 60px;
}

.push-right {
    float: right;
}

div.action-icons-container {
}

.button-spacer {
    flex: 1 1 auto;
}

.mat-button-deactivate {
    color: cornflowerblue;
}

.mat-button-activate {
    color: darkorange;
}