<mat-card class="special-schedule-card" *ngFor="let anSS of listOfSpecialSchedules">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon class="main-toolbar-right-icon" aria-hidden="false" aria-label="Example heart icon">
                schedule
            </mat-icon>
        </div>
        <mat-card-title>{{anSS.description}}</mat-card-title>
        <mat-card-subtitle>ID: {{anSS.id}}</mat-card-subtitle>
        <div class="action-icons-container">
            <!--mat-icon  aria-hidden="false" aria-label="Show Details">timer</mat-icon-->
            <button mat-button *ngIf="!anSS.active" (click)="activateSchedule(anSS)">
                <mat-icon aria-hidden="false" aria-label="Avvia/Ferma">send</mat-icon>
            </button>
            <button mat-button *ngIf=" anSS.active" (click)="deactivateSchedule(anSS)">
                <mat-icon aria-hidden="false" aria-label="Avvia/Ferma">cancel_schedule_send</mat-icon>
            </button>
            <button mat-button routerLink="/special-schedules/{{anSS.id}}">
                <mat-icon aria-hidden="false" aria-label="Show Details">web</mat-icon>
            </button>
            <button mat-button (click)="deleteSchedule(anSS)">
                <mat-icon aria-hidden="false" aria-label="Remove">delete_outline</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>
        Zone: 1, 2, 4, 5
    </mat-card-content>
</mat-card>