<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Home Heating Manager</span>
        <span class="main-toolbar-spacer"></span>
        <a routerLink="/special-schedules">
            <mat-icon class="main-toolbar-right-icon" aria-hidden="false" aria-label="Example heart icon">whatshot</mat-icon>
        </a>
        <a routerLink="/zones">
            <mat-icon class="main-toolbar-right-icon" aria-hidden="false" aria-label="Example heart icon">apps</mat-icon>
        </a>
    </mat-toolbar-row>
</mat-toolbar>

<div class="main-contentpane-container">
    <router-outlet></router-outlet>
</div>