<mat-card class="zone-list-card" *ngFor="let aZone of zoneList">
    <mat-grid-list cols="5" rowHeight="20px">
        <mat-grid-tile colspan="4">
            <div class="zone-list-zone-title-container">
                <a routerLink="/zones/{{aZone.id}}" class="zone-title">{{aZone.name}}</a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-icon class="heating-power-icon" [ngClass]="{'active-heating': (aZone.telemetrics.heating), 'inactive-heating': (!aZone.telemetrics.heating)}">whatshot</mat-icon >
            <div *ngIf="aZone.telemetrics.heating" class="zone-list-zone-title-container heating-power-value active-heating">
                {{aZone.telemetrics.heatingPower | mthPercentage}}
            </div>
            <div *ngIf="!aZone.telemetrics.heating" class="zone-list-zone-title-container heating-power-value inactive-heating">
                {{null | mthPercentage}}
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" class="setting-label-tile">
            <div class="zone-list-zone-kpis-container setting-label">
                CURRENT
            </div>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2" class="setting-label-tile">
            <div class="zone-list-zone-kpis-container setting-label">
                TARGET
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="setting-label-tile">
            <div class="zone-list-zone-kpis-container setting-label">
                NEXT
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="setting-label-tile">
            <div class="zone-list-zone-kpis-container setting-label">
                OVERLAY
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="3">
            <div    class="zone-list-zone-kpis-container current-temperature"
                    [ngClass]="{'current-temperature-cold': (aZone.telemetrics.temperature <= 17), 'current-temperature-warm': (aZone.telemetrics.temperature > 17 && aZone.telemetrics.temperature <= 20), 'current-temperature-hot': (aZone.telemetrics.temperature > 20)}">
                {{aZone.telemetrics.temperature | mthTemperatureUnits}}
            </div>
            <div    class="zone-list-zone-kpis-container current-temperature-decimalz"
                    [ngClass]="{'current-temperature-cold': (aZone.telemetrics.temperature <= 17), 'current-temperature-warm': (aZone.telemetrics.temperature > 17 && aZone.telemetrics.temperature <= 20), 'current-temperature-hot': (aZone.telemetrics.temperature > 20)}">
                {{aZone.telemetrics.temperature | mthTemperatureDecimals:''}}
            </div>
            <div class="zone-list-zone-kpis-container current-humidity">
                {{aZone.telemetrics.humidity | mthPercentageUnits}}
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="setting-timing-tile">
            <div *ngIf="aZone.configuration != null" class="zone-list-zone-kpis-container setting-timing">
              ({{ aZone.configuration?.nextChangeTime | date: "hh:mm" }})
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="setting-timing-tile">
            <div *ngIf="aZone.configuration?.overlayActive" class="zone-list-zone-kpis-container setting-timing">
                ({{ aZone.configuration?.overlayDuration | mthDuration }})
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="setting-value-tile" rowspan="2">
            <div    class="zone-list-zone-kpis-container setting-value reference-value"
                    [ngClass]="{'reference-value': isTargetTempAReferenceValue(aZone), 'secondary-value': !isTargetTempAReferenceValue(aZone)}">
                {{ aZone.configuration?.targetTemperature | mthTemperatureUnits }}
            </div>
            <div    class="setting-value-decimal"
                    [ngClass]="{'setting-value-decimal-reference': isTargetTempAReferenceValue(aZone), 'setting-value-decimal-secondary': !isTargetTempAReferenceValue(aZone)}">
                {{ aZone.configuration?.targetTemperature | mthTemperatureDecimal:'' }}
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="setting-value-tile" rowspan="2">
            <div    class="zone-list-zone-kpis-container setting-value secondary-value"
                    [ngClass]="{'reference-value': isNextChangeTempAReferenceValue(aZone), 'secondary-value': !isNextChangeTempAReferenceValue(aZone)}">
                {{ aZone.configuration?.nextChangeTemperature | mthTemperatureUnits }}
            </div>
            <div    class="setting-value-decimal"
                    [ngClass]="{'setting-value-decimal-reference': isNextChangeTempAReferenceValue(aZone), 'setting-value-decimal-secondary': !isNextChangeTempAReferenceValue(aZone)}">
                {{ aZone.configuration?.nextChangeTemperature | mthTemperatureDecimal:'' }}
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="setting-value-tile" rowspan="2">
            <div    class="zone-list-zone-kpis-container setting-value secondary-value"
                    [ngClass]="{'reference-value': isOverlayTempAReferenceValue(aZone), 'secondary-value': !isOverlayTempAReferenceValue(aZone)}">
                {{ aZone.configuration?.overlayTemperature | mthTemperatureUnits }}
            </div>
            <div    class="setting-value-decimal"
                    [ngClass]="{'setting-value-decimal-reference': isOverlayTempAReferenceValue(aZone), 'setting-value-decimal-secondary': !isOverlayTempAReferenceValue(aZone)}">
                {{ aZone.configuration?.overlayTemperature | mthTemperatureDecimal:'' }}
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>