.zone-list-card {
    margin: 12px;
    border-radius: 20px;
}

.zone-list-zone-title-container, .zone-list-zone-kpis-container {
    justify-content: left;
    width: 100%;
    margin-left: 10px;
}
.zone-title {
    text-decoration-line: none;
    text-align: left;
    color: indigo;
    font-size: 20px;
    font-weight: 500;
}

.zone-list-zone-kpis-container {
    font-size: 14px;
    color: rgba(0,0,0,.54);
}

.zone-list-command-actions-container {

}

.zone-list-card-avatar-box {}

.zone-list-card-avatar-icon {
    font-size: 35px;
}

.heating-power-icon {
    font-size: 20px;
}
.heating-power-value {
    margin-left: 0px;
    width: fit-content;
    font-size: 12px;
}
.active-heating {
    color: darkgoldenrod;
}
.inactive-heating {
    color: lightgrey;
}

.current-temperature, .current-humidity {
    font-weight: 100;
}

.current-temperature, .current-temperature-warm {
    font-size: 55px;
    position: absolute;
    bottom: -10px;
}
.current-temperature-hot {
    color: crimson;
}
.current-temperature-warm {
    color: darkorange;
}
.current-temperature-cold {
    color: darkblue;
}

.current-humidity, .current-temperature-decimalz {
    width: fit-content;
    left: 65px;
    position: absolute;
    font-size: 18px;
}
.current-humidity {
    color: navy;
    bottom: -1px;
}
.current-temperature-decimalz {
    top: 15px;
}

.setting-value, .setting-label, .setting-timing {
    font-size: 9px;
    position: absolute;
}
.setting-value {
    bottom: 2px;
}
.setting-value-decimal, .setting-value-decimal-reference, .setting-value-decimal-secondary {
    width: fit-content;
    left: 45px;
    top: 9px;
    position: absolute;
    font-size: 12px;
}
.setting-value-decimal-reference {
    color: forestgreen;
    top: 6px;
    font-size: 18px;
}
.setting-value-decimal-secondary {
    left: 38px;
    top: 12px;
    font-size: 14px;
}
.setting-label, .setting-timing {
    top: 0px;
}
.setting-timing {
    color: darkgreen;
    font-weight: bold;
    font-size: 8px;
}

.reference-value {
    bottom: 1px;
    font-size: 30px;
    /*font-weight: 500;*/
    color: forestgreen;
}
.secondary-value {
    bottom: 3px;
    font-size: 25px;
    font-weight: 100;
    /*color: black;*/
}

.setting-label-tile {
    margin-top: 10px;
}
.setting-value-tile {
    margin-top: 5px;
}
.setting-timing-tile {
    margin-top: 3px;
}
